Repository ravkorsurv/korinsic-ai-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, radon, safety, test-coverage-check, api-documentation-check, regulatory-compliance-check

vulture:
  name: vulture
  entry: vulture
  language: python
  args:
  - --min-confidence
  - '60'
  additional_dependencies:
  - vulture

radon:
  name: radon complexity check
  entry: radon
  language: python
  args:
  - cc
  - --min
  - C
  - .
  additional_dependencies:
  - radon

safety:
  name: safety
  entry: safety
  language: python
  args:
  - check
  - --json
  additional_dependencies:
  - safety

test-coverage-check:
  name: Test Coverage Check
  entry: python scripts/development/check_test_coverage.py
  language: python
  pass_filenames: false

api-documentation-check:
  name: API Documentation Check
  entry: python scripts/development/check_api_docs.py
  language: python

regulatory-compliance-check:
  name: Regulatory Compliance Check
  entry: python scripts/development/check_regulatory_compliance.py
  language: python

Remove GitHub Actions workflows and add Korbit AI setup documentation
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  KORBIT_SETUP.md
Due: none

📊 Complete Korbit AI merge 31 analysis and resolution tracking
  KORBIT_AI_MERGE_31_ANALYSIS.md
Due: none

feat: Enable Korbit AI auto-review for PRs and commits
  .korbit.yml
  KORBIT_SETUP.md
Due: none

fix: Update Korbit configuration with proper YAML format
  .korbit.yml
  KORBIT_SETUP.md
Due: none

fix: Implement correct Korbit configuration format
  .korbit-config.yaml
  KORBIT_SETUP.md
Due: none

Remove Korbit AI configuration file
  .korbit.yml
Due: none

Add OpenInference integration files for Korbit targeted security review
  review-files/OPENINFERENCE_INTEGRATION_SUMMARY.md
  review-files/config/openinference_config.json
  review-files/docs/OPENINFERENCE_INTEGRATION.md
  review-files/scripts/demo/openinference_demo.py
  review-files/src/api/v1/routes/enhanced_analysis.py
  review-files/src/core/engines/enhanced_bayesian_engine.py
  review-files/src/utils/openinference_tracer.py
Due: vulture, radon, safety, test-coverage-check

feat: Enhance Korbit configuration for comprehensive analysis
  .github/PULL_REQUEST_TEMPLATE.md
  .korbit-config.yaml
  KORBIT_SETUP.md
Due: none

docs: Add Korbit findings action plan for src/ directory analysis
  KORBIT_FINDINGS_ACTION_PLAN.md
Due: none

fix: Address critical Korbit findings - blueprint registration and import error handling
  src/api/v1/__init__.py
  src/api/v1/schemas/request_schemas.py
  src/models/bayesian/insider_dealing/__init__.py
  src/models/bayesian/market_cornering/__init__.py
  src/models/bayesian/spoofing/__init__.py
Due: vulture, radon, safety, test-coverage-check, api-documentation-check, regulatory-compliance-check

docs: Address remaining Korbit documentation issues
  src/api/v1/schemas/request_schemas.py
  src/core/__init__.py
  src/models/__init__.py
  src/models/bayesian/circular_trading/__init__.py
  src/models/bayesian/cross_desk_collusion/__init__.py
  src/models/bayesian/wash_trade_detection/__init__.py
Due: vulture, radon, safety, test-coverage-check, api-documentation-check, regulatory-compliance-check

docs: Complete Korbit documentation improvements - API versioning and commodity manipulation
  src/api/__init__.py
  src/models/bayesian/commodity_manipulation/__init__.py
Due: vulture, radon, safety, test-coverage-check, api-documentation-check, regulatory-compliance-check

fix: Address Korbit test code quality issues - Performance and functionality improvements
  tests/demo/kde_first_demo.py
  tests/utils/data_generators.py
  tests/utils/mock_factories.py
Due: vulture, radon, safety, test-coverage-check

fix: Complete Korbit test code quality improvements - All 10 issues addressed
  tests/demo/kde_first_demo.py
  tests/utils/data_generators.py
  tests/utils/import_helpers.py
Due: vulture, radon, safety, test-coverage-check

Add advanced analytics capabilities to OpenInference integration
  OPENINFERENCE_INTEGRATION_SUMMARY.md
Due: none

Implement Phase 1: Enhanced Drift Detection with comprehensive analytics
  PHASE1_ENHANCED_DRIFT_DETECTION_COMPLETE.md
  scripts/demo/advanced_drift_detection_demo.py
  src/analytics/__init__.py
  src/analytics/drift_detection.py
  src/analytics/drift_integration.py
  tests/analytics/test_drift_detection.py
Due: vulture, radon, safety, test-coverage-check

fix: Address Korbit AI code quality feedback
  src/analytics/__init__.py
  src/analytics/drift_integration.py
Due: vulture, radon, safety, test-coverage-check

Checkpoint before follow-up message
  .dockerignore
  .github/workflows/backend-deploy.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-deploy.yml
  DEPLOYMENT_GUIDE.md
  Dockerfile
  deployment/amplify.yml
  deployment/aws-infrastructure.yml
  package.json
  playwright.config.js
  scripts/deploy/setup-aws-infrastructure.sh
  src/index.css
  tests/e2e/dashboard.spec.js
Due: none

Add AWS Lambda deployment workflow with Serverless Framework
  .github/workflows/lambda-deploy.yml
  AWS_SETUP_INSTRUCTIONS.md
  lambda_handler.py
  requirements-lambda.txt
  serverless.yml
Due: vulture, radon, safety, test-coverage-check

Add economic withholding detection model with ARERA compliance
  src/models/bayesian/economic_withholding/__init__.py
  src/models/bayesian/economic_withholding/arera_compliance.py
  src/models/bayesian/economic_withholding/config.py
  src/models/bayesian/economic_withholding/cost_curve_analyzer.py
  src/models/bayesian/economic_withholding/nodes.py
  src/models/bayesian/economic_withholding/scenario_engine.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add test fixtures and unit tests for economic withholding model
  tests/fixtures/economic_withholding_test_data.py
  tests/unit/test_economic_withholding_config.py
  tests/unit/test_economic_withholding_nodes.py
Due: vulture, radon, safety, test-coverage-check

Add economic withholding analysis with ARERA methodology
  config/models/economic_withholding_config.json
  src/app.py
  src/core/engines/bayesian_engine.py
  src/models/bayesian/economic_withholding/model.py
  src/models/bayesian/registry.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add comprehensive integration, performance, and methodology tests
  tests/integration/test_economic_withholding_e2e.py
  tests/performance/test_economic_withholding_performance.py
  tests/validation/test_arera_methodology.py
Due: vulture, radon, safety, test-coverage-check

Fix: Enhance economic withholding analysis with robust error handling
  KORBIT_FIXES_SUMMARY.md
  src/app.py
  src/models/bayesian/economic_withholding/__init__.py
  src/models/bayesian/economic_withholding/nodes.py
  src/models/bayesian/economic_withholding/scenario_engine.py
  tests/validation/test_korbit_fixes.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Refactor economic withholding module for improved performance and reliability
  LATEST_KORBIT_FIXES_SUMMARY.md
  src/app.py
  src/models/bayesian/economic_withholding/__init__.py
  src/models/bayesian/economic_withholding/nodes.py
  tests/validation/test_latest_korbit_fixes.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Implement person-centric surveillance with identity resolution and cross-typology analysis
  PERSON_CENTRIC_SURVEILLANCE_README.md
  config/person_centric_surveillance.json
  src/core/cross_typology_engine.py
  src/core/entity_resolution.py
  src/core/person_centric_alert_generator.py
  src/core/person_centric_nodes.py
  src/core/person_centric_surveillance_engine.py
  src/core/person_evidence_aggregator.py
  src/models/person_centric.py
  src/models/trading_data.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Enhance person-centric surveillance with regulatory explainability and testing
  pytest.ini
  scripts/run_tests.py
  src/core/person_centric_alert_generator.py
  src/core/regulatory_explainability.py
  tests/README.md
  tests/conftest.py
  tests/test_person_centric_surveillance.py
  tests/test_regulatory_compliance.py
Due: vulture, radon, safety, test-coverage-check

Add economic withholding analysis to Bayesian risk engine
  docs/ECONOMIC_WITHHOLDING_REFACTORING.md
  src/app.py
  src/core/bayesian_engine.py
  src/core/evidence_mapper.py
  src/models/bayesian/economic_withholding/model.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add comprehensive evidence mapping for multiple market manipulation models
  docs/ALL_MODELS_EVIDENCE_MAPPING_SUMMARY.md
  src/core/bayesian_engine.py
  src/core/evidence_mapper.py
Due: vulture, radon, safety, test-coverage-check

Refactor person-centric models with enums, typed dicts, and timestamp handling
  src/core/cross_typology_engine.py
  src/core/entity_resolution.py
  src/core/person_centric_alert_generator.py
  src/core/person_centric_nodes.py
  src/core/person_evidence_aggregator.py
  src/models/person_centric.py
  src/models/trading_data.py
  src/services/data_quality/dq_strategy_base.py
  tests/test_person_centric_surveillance.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Remove EvidenceType enum from regulatory_explainability module
  src/core/regulatory_explainability.py
Due: vulture, radon, safety, test-coverage-check

Add regulatory explainability integration to all Bayesian models
  REGULATORY_EXPLAINABILITY_100_PERCENT_COMPLETE.md
  config/models/bayesian_models.json
  docs/regulatory_explainability/COMPLETE_IMPLEMENTATION_GUIDE.md
  scripts/check_explainability_integration.py
  scripts/integrate_regulatory_explainability.py
  scripts/validate_explainability_integration.py
  src/models/bayesian/circular_trading/model.py
  src/models/bayesian/commodity_manipulation/model.py
  src/models/bayesian/cross_desk_collusion/model.py
  src/models/bayesian/economic_withholding/model.py
  src/models/bayesian/insider_dealing/model.py
  src/models/bayesian/market_cornering/model.py
  src/models/bayesian/spoofing/model.py
  src/models/bayesian/wash_trade_detection/model.py
  tests/test_regulatory_explainability_integration.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add evidence chain example for regulatory explainability system
  examples/evidence_chain_example.py
Due: vulture, radon, safety, test-coverage-check

Add secure, performant regulatory explainability framework
  config/regulatory_explainability_config.json
  docs/regulatory_explainability/FIXES_COMPLETE.md
  docs/regulatory_explainability/SECURITY_AND_QUALITY_FIXES_SUMMARY.md
  examples/evidence_chain_example.py
  scripts/improved_validation_script.py
  src/core/evidence/evidence_types.py
  src/core/reporting/narrative_generator.py
  src/core/security/data_sanitizer.py
Due: vulture, radon, safety, test-coverage-check

Refactor: Minor code improvements and import optimizations
  pytest.ini
  src/core/cross_typology_engine.py
  src/models/bayesian/economic_withholding/__init__.py
  src/models/person_centric.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Refactor config files with improved JSON formatting and structure
  config/bayesian_model_config.json
  config/models/bayesian_models.json
Due: none

Path conditions:
  vulture: any of: \.py$
  radon: any of: \.py$
  safety: any of: \.py$
  test-coverage-check: any of: \.py$
  api-documentation-check: any of: ^src/api/.*\.py$
  regulatory-compliance-check: any of: ^src/models/.*\.py$
