Repository ravkorsurv/korinsic-ai-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, radon, safety, test-coverage-check, api-documentation-check, regulatory-compliance-check

vulture:
  name: vulture
  entry: vulture
  language: python
  args:
  - --min-confidence
  - '60'
  additional_dependencies:
  - vulture

radon:
  name: radon complexity check
  entry: radon
  language: python
  args:
  - cc
  - --min
  - C
  - .
  additional_dependencies:
  - radon

safety:
  name: safety
  entry: safety
  language: python
  args:
  - check
  - --json
  additional_dependencies:
  - safety

test-coverage-check:
  name: Test Coverage Check
  entry: python scripts/development/check_test_coverage.py
  language: python
  pass_filenames: false

api-documentation-check:
  name: API Documentation Check
  entry: python scripts/development/check_api_docs.py
  language: python

regulatory-compliance-check:
  name: Regulatory Compliance Check
  entry: python scripts/development/check_regulatory_compliance.py
  language: python

Implement comprehensive model explainability and audit framework
  EXPLAINABILITY_IMPLEMENTATION_SUMMARY.md
  MODEL_EXPLAINABILITY_AUDIT_PLAN.md
  src/models/bayesian/insider_dealing/enhanced_model.py
  src/models/explainability/__init__.py
  src/models/explainability/audit_logger.py
  src/models/explainability/counterfactual_generator.py
  src/models/explainability/decision_path_visualizer.py
  src/models/explainability/enhanced_base_model.py
  src/models/explainability/explainability_engine.py
  src/models/explainability/feature_attribution.py
  src/models/explainability/governance_tracker.py
  src/models/explainability/uncertainty_quantifier.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add comprehensive requirements compliance assessment document
  REQUIREMENTS_COMPLIANCE_ASSESSMENT.md
Due: none

Add Evidence Sufficiency Index (ESI) component for explainability
  FINAL_COMPLIANCE_STATUS.md
  SPECIFIC_REQUIREMENTS_ASSESSMENT.md
  src/models/explainability/__init__.py
  src/models/explainability/enhanced_base_model.py
  src/models/explainability/evidence_sufficiency_index.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add ESI component with comprehensive testing and CI/CD pipeline
  .github/workflows/ci.yml
  MERGE_READINESS_FINAL_STATUS.md
  QUALITY_GATES_CHECKLIST.md
  pyproject.toml
  src/models/explainability/evidence_sufficiency_index.py
  tests/performance/test_benchmarks.py
  tests/unit/test_evidence_sufficiency_index.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add final validation report for ESI explainability implementation
  FINAL_VALIDATION_REPORT.md
Due: none

Refactor explainability modules with improved code style and formatting
  FINAL_VALIDATION_EXECUTION_REPORT.md
  src/models/explainability/__init__.py
  src/models/explainability/audit_logger.py
  src/models/explainability/counterfactual_generator.py
  src/models/explainability/decision_path_visualizer.py
  src/models/explainability/enhanced_base_model.py
  src/models/explainability/evidence_sufficiency_index.py
  src/models/explainability/explainability_engine.py
  src/models/explainability/feature_attribution.py
  src/models/explainability/governance_tracker.py
  src/models/explainability/uncertainty_quantifier.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Create quality gates failure analysis documentation for CI/CD pipeline
  QUALITY_GATES_FAILURE_ANALYSIS.md
Due: none

Enhance model explainability and audit features (#28)
  .github/workflows/ci.yml
  EXPLAINABILITY_IMPLEMENTATION_SUMMARY.md
  FINAL_COMPLIANCE_STATUS.md
  FINAL_VALIDATION_EXECUTION_REPORT.md
  FINAL_VALIDATION_REPORT.md
  MERGE_READINESS_FINAL_STATUS.md
  MODEL_EXPLAINABILITY_AUDIT_PLAN.md
  QUALITY_GATES_CHECKLIST.md
  QUALITY_GATES_FAILURE_ANALYSIS.md
  REQUIREMENTS_COMPLIANCE_ASSESSMENT.md
  SPECIFIC_REQUIREMENTS_ASSESSMENT.md
  pyproject.toml
  src/models/bayesian/insider_dealing/enhanced_model.py
  src/models/explainability/__init__.py
  src/models/explainability/audit_logger.py
  src/models/explainability/counterfactual_generator.py
  src/models/explainability/decision_path_visualizer.py
  src/models/explainability/enhanced_base_model.py
  src/models/explainability/evidence_sufficiency_index.py
  src/models/explainability/explainability_engine.py
  src/models/explainability/feature_attribution.py
  src/models/explainability/governance_tracker.py
  src/models/explainability/uncertainty_quantifier.py
  tests/performance/test_benchmarks.py
  tests/unit/test_evidence_sufficiency_index.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Refactor CI/CD pipeline: Simplify workflow, fix Poetry integration, remove conflicts
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  CI_CD_PIPELINE_FIX_SUMMARY.md
  QUALITY_GATES_CHECKLIST.md
Due: none

Update GitHub Actions to latest versions (v4)
  .github/workflows/ci-cd.yml
  CI_CD_PIPELINE_FIX_SUMMARY.md
Due: none

Rebrand project from Kor.ai to Korinsic across all files
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  requirements-dev.txt
  src/__init__.py
  src/app.py
  tests/README.md
  tests/conftest.py
  tests/test_sample_data.py
  tests/unit/test_latent_intent_simple.py
  tests/unit/test_ui_display.py
  tests/utils/__init__.py
Due: vulture, radon, safety, test-coverage-check

chore: clean up root directory, move tests, update .gitignore
  .gitignore
  app.py
  bayesian_model_config_backup.json
  index.html
  src/App.jsx
  src/components/TopNavBar.jsx
  src/core/bayesian_engine.py
  src/core/regulatory_explainability.py
  src/main.jsx
  src/pages/CaseDetail.jsx
  src/pages/Dashboard.jsx
  tests/demo_e2e.py
  tests/test_advanced_features.py
  tests/test_api_latent_intent.py
  tests/test_api_simple.py
  tests/test_data_volume.py
  tests/test_dynamic_model.py
  tests/test_e2e.py
  tests/test_e2e_enhanced.py
  tests/test_engine_integration.py
  tests/test_esi_feature.py
  tests/test_esi_integration_complete.py
  tests/test_latent_intent.py
  tests/test_latent_intent_simple.py
  tests/test_news_context.py
  tests/test_quick.py
  tests/test_regulatory_explainability.py
  tests/test_ui_display.py
  vite.config.js
Due: vulture, radon, safety, test-coverage-check

chore: remove obsolete markdown files from root, keep only README.md and FEATURE_DEVELOPMENT_CHECKLIST.md
  CI_CD_PIPELINE_FIX_SUMMARY.md
  EXPLAINABILITY_IMPLEMENTATION_SUMMARY.md
  FEATURE_DEVELOPMENT_CHECKLIST.md
  FINAL_COMPLIANCE_STATUS.md
  FINAL_VALIDATION_EXECUTION_REPORT.md
  FINAL_VALIDATION_REPORT.md
  IMPLEMENTATION_SUMMARY.md
  MERGE_READINESS_FINAL_STATUS.md
  MODEL_EXPLAINABILITY_AUDIT_PLAN.md
  QUALITY_GATES_CHECKLIST.md
  QUALITY_GATES_FAILURE_ANALYSIS.md
  REQUIREMENTS_COMPLIANCE_ASSESSMENT.md
  SPECIFIC_REQUIREMENTS_ASSESSMENT.md
Due: none

refactor: apply Korbit AI suggestions for readability, error handling, security, and performance in vite.config.js, main.jsx, and Dashboard.jsx
  src/main.jsx
  src/pages/Dashboard.jsx
  vite.config.js
Due: none

Add AI observability with OpenInference tracing and instrumentation
  OPENINFERENCE_IMPLEMENTATION_SUMMARY.md
  README.md
  docs/OPENINFERENCE_INTEGRATION.md
  pyproject.toml
  setup_openinference.sh
  src/app.py
  src/core/bayesian_engine.py
  src/utils/ai_observability.py
  test_ai_observability.py
Due: vulture, radon, safety, test-coverage-check

Checkpoint before follow-up message
  README.md
  TESTING_INTEGRATION_SUMMARY.md
  pytest.ini
  scripts/development/run_tests.py
  test_openinference_integration.py
  tests/e2e/test_e2e_enhanced.py
  tests/e2e/test_openinference_e2e.py
  tests/unit/test_ai_observability.py
Due: vulture, radon, safety, test-coverage-check

Update Python version constraints and dependencies to 3.8-3.12
  .github/workflows/ci-cd.yml
  Dockerfile
  PYTHON_DEPENDENCY_FIX.md
  README.md
  pyproject.toml
Due: none

Add OpenInference instrumentation for AI observability
  requirements.txt
  src/app.py
Due: vulture, radon, safety, test-coverage-check

Resolve merge conflict: combine OpenInference and trading_data_bp imports, ensure correct initialization order
  src/app.py
Due: vulture, radon, safety, test-coverage-check

Resolve merge conflict: keep OpenInference and trading_data_bp imports, call instrument_app after config
  src/app.py
Due: vulture, radon, safety, test-coverage-check

Manually resolve all merge conflicts in app.py: combine OpenInference, trading_data_bp, and all initialization logic
  src/app.py
Due: vulture, radon, safety, test-coverage-check

Fully resolve all merge conflicts in app.py: combine OpenInference, trading_data_bp, and all initialization logic
  src/app.py
Due: vulture, radon, safety, test-coverage-check

Add OpenInference tracing for AI observability and model monitoring
  OPENINFERENCE_INTEGRATION_SUMMARY.md
  config/openinference_config.json
  docs/OPENINFERENCE_INTEGRATION.md
  requirements.txt
  scripts/demo/openinference_demo.py
  src/api/v1/routes/enhanced_analysis.py
  src/core/engines/enhanced_bayesian_engine.py
  src/utils/openinference_tracer.py
  tests/integration/test_openinference_integration.py
Due: vulture, radon, safety, test-coverage-check, api-documentation-check

Add OpenInference tracing integration with comprehensive CI/CD pipeline
  .github/workflows/openinference-ci.yml
  TESTING_AND_CICD_SUMMARY.md
  scripts/test/run_openinference_tests.py
  tests/e2e/test_openinference_e2e.py
  tests/performance/test_openinference_performance.py
  tests/unit/test_enhanced_bayesian_engine.py
  tests/unit/test_openinference_tracer.py
Due: vulture, radon, safety, test-coverage-check

Checkpoint before follow-up message
  .github/workflows/ci-cd.yml
  .github/workflows/openinference-ci.yml
  quality_report.json
  scripts/development/run_quality_checks.py
  scripts/development/run_tests.py
Due: vulture, radon, safety, test-coverage-check

Refactor import paths and clean up services and evidence mapping
  bandit_report.json
  bandit_security_report.json
  src/core/engines/bayesian_engine.py
  src/core/processors/evidence_mapper.py
  src/core/services/__init__.py
  src/core/services/alert_service.py
  src/core/services/regulatory_service.py
Due: vulture, radon, safety, test-coverage-check

Path conditions:
  vulture: any of: \.py$
  radon: any of: \.py$
  safety: any of: \.py$
  test-coverage-check: any of: \.py$
  api-documentation-check: any of: ^src/api/.*\.py$
  regulatory-compliance-check: any of: ^src/models/.*\.py$
