Repository ravkorsurv/korinsic-ai-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: vulture, radon, safety, test-coverage-check, api-documentation-check, regulatory-compliance-check

vulture:
  name: vulture
  entry: vulture
  language: python
  args:
  - --min-confidence
  - '60'
  additional_dependencies:
  - vulture

radon:
  name: radon complexity check
  entry: radon
  language: python
  args:
  - cc
  - --min
  - C
  - .
  additional_dependencies:
  - radon

safety:
  name: safety
  entry: safety
  language: python
  args:
  - check
  - --json
  additional_dependencies:
  - safety

test-coverage-check:
  name: Test Coverage Check
  entry: python scripts/development/check_test_coverage.py
  language: python
  pass_filenames: false

api-documentation-check:
  name: API Documentation Check
  entry: python scripts/development/check_api_docs.py
  language: python

regulatory-compliance-check:
  name: Regulatory Compliance Check
  entry: python scripts/development/check_regulatory_compliance.py
  language: python

Create centralized CPT library with regulatory compliance tracking
  src/models/bayesian/shared/cpt_library/__init__.py
  src/models/bayesian/shared/cpt_library/library.py
  src/models/bayesian/shared/cpt_library/regulatory_reference.py
  src/models/bayesian/shared/cpt_library/typed_cpt.py
  src/models/bayesian/shared/cpt_library/typology_templates.py
  src/models/bayesian/shared/cpt_library/version_manager.py
  tests/models/bayesian/test_cpt_library.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Implement centralized CPT library with regulatory compliance framework
  PR_DESCRIPTION.md
Due: none

fix: Resolve code style and quality issues in CPT Library
  PR_DESCRIPTION.md
  src/models/bayesian/shared/cpt_library/__init__.py
  src/models/bayesian/shared/cpt_library/library.py
  src/models/bayesian/shared/cpt_library/regulatory_reference.py
  src/models/bayesian/shared/cpt_library/typed_cpt.py
  src/models/bayesian/shared/cpt_library/typology_templates.py
  src/models/bayesian/shared/cpt_library/version_manager.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

fix: Address Korbit AI code quality and performance issues
  src/models/bayesian/shared/cpt_library/library.py
  src/models/bayesian/shared/cpt_library/regulatory_reference.py
  src/models/bayesian/shared/cpt_library/typed_cpt.py
  tests/models/bayesian/test_cpt_library.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

fix: Address additional Korbit AI code quality issues
  src/models/bayesian/shared/cpt_library/library.py
  src/models/bayesian/shared/cpt_library/regulatory_reference.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

perf: Remove unnecessary list conversion in streaming export
  src/models/bayesian/shared/cpt_library/library.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Checkpoint before follow-up message
  src/models/bayesian/cross_desk_collusion/model.py
  src/models/bayesian/economic_withholding/model.py
  src/models/bayesian/shared/intermediate_nodes.py
  src/models/bayesian/spoofing/model.py
  tests/test_fan_in_reduction.py
  validate_fan_in_reduction.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Refactor spoofing model with reusable intermediate nodes
  REUSABLE_INTERMEDIATE_NODES_SUMMARY.md
  src/models/bayesian/shared/reusable_intermediate_nodes.py
  src/models/bayesian/spoofing/model.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Refactor: Centralize probability config and improve error handling
  ERROR_HANDLING_MAINTAINABILITY_FIXES_SUMMARY.md
  src/models/bayesian/shared/probability_config.py
  src/models/bayesian/shared/reusable_intermediate_nodes.py
  src/models/bayesian/spoofing/model.py
  validate_error_handling_fixes.py
  validate_fixes_simple.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add fan-in CPT library impact analysis documentation
  FAN_IN_CPT_LIBRARY_IMPACT_ANALYSIS.md
Due: none

Add intermediate node type to CPT library for fan-in reduction
  COMPREHENSIVE_INTEGRATION_SUMMARY.md
  src/models/bayesian/shared/cpt_library/intermediate_node_integration.py
  src/models/bayesian/shared/cpt_library/typed_cpt.py
  src/models/bayesian/spoofing/model.py
  tests/integration/test_intermediate_node_cpt_integration.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Implement hierarchical evidence node structure with performance improvements
  KORBIT_ISSUES_RESOLUTION_SUMMARY.md
  src/models/bayesian/shared/probability_config.py
  tests/unit/test_probability_config_improvements.py
  validate_error_handling_fixes.py
  validate_korbit_fixes.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add model-specific evidence nodes for insider dealing, economic withholding, and wash trading
  FINAL_KORBIT_RESOLUTION_SUMMARY.md
  __init__.py
  setup.py
  src/models/bayesian/shared/probability_config.py
  tests/unit/test_probability_config_improvements.py
  validate_korbit_fixes.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Refactor dependency management to single-source setup.py approach
  DEPENDENCY_MANAGEMENT.md
  DEPENDENCY_MANAGEMENT_FIX_SUMMARY.md
  requirements-dev.txt
  requirements.txt
  setup.py
Due: vulture, radon, safety, test-coverage-check

Optimize dependency management with relaxed version bounds for performance
  DEPENDENCY_MANAGEMENT.md
  DEPENDENCY_OPTIMIZATION_SUMMARY.md
  setup.py
Due: vulture, radon, safety, test-coverage-check

Add comprehensive explaining away implementation assessment document
  EXPLAINING_AWAY_COMPREHENSIVE_ASSESSMENT.md
Due: none

Add comprehensive model enhancement plan for 4-parent CPT structures
  MODEL_ENHANCEMENT_PLAN.md
Due: none

Enhance wash trade and circular trading models with 4-parent explaining away structure
  config/bayesian_model_config.json
  src/models/bayesian/shared/evidence_node_templates.py
  src/models/bayesian/shared/reusable_intermediate_nodes.py
  tests/models/enhanced/test_circular_trading_simple.py
  tests/models/enhanced/test_wash_trade_enhanced.py
  tests/models/enhanced/test_wash_trade_simple.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Enhance bayesian model config with detailed cross-desk collusion structure
  config/bayesian_model_config.json
  tests/models/enhanced/test_cross_desk_collusion_simple.py
  tests/models/enhanced/test_economic_withholding_simple.py
  tests/models/enhanced/test_market_cornering_simple.py
Due: vulture, radon, safety, test-coverage-check

Implement 4-parent CPT structures with explaining away behavior
  EXPLAINING_AWAY_ENHANCEMENT_PR_SUMMARY.md
Due: none

Add probability validation for evidence node templates
  EXPLAINING_AWAY_ENHANCEMENT_PR_SUMMARY.md
  src/models/bayesian/shared/evidence_node_templates.py
  tests/models/enhanced/test_evidence_template_validation.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Refactor core components to simplified mock implementations for testing
  pyproject.toml
  setup.py
  src/__init__.py
  src/app.py
  src/core/alert_generator.py
  src/core/bayesian_engine.py
  src/core/data_processor.py
  src/core/risk_calculator.py
  src/utils/logger.py
Due: vulture, radon, safety, test-coverage-check

Add MNPI access node to insider dealing Bayesian network
  src/core/engines/bayesian_engine.py
  src/core/evidence_mapper.py
  src/models/bayesian/insider_dealing/model.py
  src/models/bayesian/insider_dealing/nodes.py
  src/models/bayesian/shared/model_builder.py
  tests/unit/test_phase1_enhancements.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Enhance insider dealing model with refined evidence mapping and constants
  docs/ALL_MODELS_EVIDENCE_MAPPING_SUMMARY.md
  docs/summaries/REUSABLE_INTERMEDIATE_NODES_SUMMARY.md
  src/core/evidence_mapper.py
Due: vulture, radon, safety, test-coverage-check

Add get-pip.py script for installing pip on Python 3.9+
  get-pip.py
Due: vulture, radon, safety, test-coverage-check

Optimize insider dealing BN with grouped evidence and reduced complexity
  docs/ALL_MODELS_EVIDENCE_MAPPING_SUMMARY.md
  src/core/evidence_mapper.py
  src/models/bayesian/shared/model_builder.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Implement dynamic latent intent probabilities based on risk patterns
  src/models/bayesian/shared/model_builder.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Add structured CPD generation with softmax and monotonic constraints
  docs/ALL_MODELS_EVIDENCE_MAPPING_SUMMARY.md
  src/models/bayesian/shared/model_builder.py
  src/models/bayesian/shared/structured_cpds.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Improve error handling and add validation for softmax CPD generation
  src/models/bayesian/shared/model_builder.py
  src/models/bayesian/shared/structured_cpds.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Refactor import handling and add economic withholding lineage script
  outputs/ew_lineage_compliant_gas_plant.json
  outputs/ew_lineage_flagged_gas_plant.json
  scripts/run_ew_lineage.py
  src/models/__init__.py
  src/models/bayesian/__init__.py
  src/models/bayesian/economic_withholding/__init__.py
  src/models/services.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Fix import paths for regulatory explainability and evidence mapper
  src/models/bayesian/economic_withholding/model.py
  src/models/bayesian/economic_withholding/nodes.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Update timestamp in lineage output files for gas plant cases
  outputs/ew_lineage_compliant_gas_plant.json
  outputs/ew_lineage_flagged_gas_plant.json
Due: none

Make config and nodes modules critical, dynamically build __all__
  src/models/bayesian/economic_withholding/__init__.py
Due: vulture, radon, safety, test-coverage-check, regulatory-compliance-check

Path conditions:
  vulture: any of: \.py$
  radon: any of: \.py$
  safety: any of: \.py$
  test-coverage-check: any of: \.py$
  api-documentation-check: any of: ^src/api/.*\.py$
  regulatory-compliance-check: any of: ^src/models/.*\.py$
